<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
    </style>
</head>
<body>
  
<script>
    
    // Example JavaScript code to handle quantity changes
// const productId =document.getElementById('cart-item-id').className
// console.log(productId); // Replace with the actual product ID

// const decrementButton = document.getElementById(`decrement-${product.product_id._id }`);
// const incrementButton = document.getElementById(`increment-${product.product_id._id }`);
// const quantitySpan = document.getElementById(`quantity-${product.product_id._id }`);

// let quantity = 0; // Initialize the quantity

// decrementButton.addEventListener('click', () => {
//     if (quantity > 0) {
//         quantity--;
//         quantitySpan.textContent = quantity;
//     }
// });

// incrementButton.addEventListener('click', () => {
//     quantity++;
//     quantitySpan.textContent = quantity;
// });

// // Example code to handle the "Delete" button
// const deleteButton = document.getElementById(product._id);

// deleteButton.addEventListener('click', () => {
//     // Implement logic to delete the product or perform other actions
//     // You can use the product._id to identify the product to be deleted
//     // For example, you can make an API request to delete the product from the server
//     // and then update the UI accordingly
// });

</script>
</body>
</html>