<nav class="navbar">
  <span class="leftNavItems">
      <a href="/transporter/dashboard">Home</a>  
  </span>  
  <span class="rightNavItems">
    <% if (locals.name) { %>
      <span class="<%= locals.userId %>" id="user-name">Hi, <%= name %></span>
      <!-- <a href="/user/change-password">Change-Password</a> -->
      <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
    <!-- <a href="/">Profile</a> -->    
  </span>
</nav>
</div>
