<html lang="en">

<head>
    <title>Create Product</title>
    <link rel="stylesheet" href="/css/nav.css">
    <style>
        .add-product-div {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .add-product-form {
            margin-top: 10px;
            height: 300px;
            width: 400px;
            box-shadow: 1px 1px 4px black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .add-product-form input {
            padding: 10px 20px;
            width: 80%;
            align-self: center;
        }

        #imageErr {
            overflow-wrap: break-word;
            color: red;
            height: fit-content;
        }
    </style>
</head>

<body>
        <%- include('./partials/sellerNav',{name}) %>

    <div class="add-product-div" id="add-product-div">
        <h1>Welcome</h1>
        <form class="add-product-form" id="newproduct" enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="Product Name" oninput="namechk()">
            <input type="number" name="price" id="price" placeholder="Product Price" oninput="pricechk()">
            <input type="text" name="description" id="description" placeholder="Product Description"
                oninput="descchk()">
            <input type="number" name="quantity" id="quantity" placeholder="Product Quantity" oninput="quanchk()">
            <div style="display: flex; align-items: center; justify-content: space-evenly; margin-left: 30px;">
                <label for="product_image">Image</label>
                <input type="file" name="image" id="product_image">
                <br>
            </div>
            <div id="imageErr">
                <p></p>
            </div>
            <p>
                <%= locals.message %>
            </p>
            <input type="submit" name="submitproduct" id="submitproduct" value="Add Product"
                style="color: white; background-color: green; border: none; border-radius: 5px;">
          
        </form>
    </div>
<script>
  // Get all the navigation links
 const links = document.querySelectorAll('.navbar a');

   links.forEach((link) => {
    if(link.innerHTML == 'Add-Product'){
      link.setAttribute('class','active');
      return;
    }
  });
</script>
</body>
<script>
    const form = document.getElementById('newproduct');
    const imageInput = document.getElementById('product_image');
    const names = document.getElementById('name');
    const price = document.getElementById('price');
    const description = document.getElementById('description');
    const quantity = document.getElementById('quantity');
    const imgErr = document.getElementById('imageErr');
    const sellerId = `<%= locals.sellerId %>`
    const role = `<%= locals.role %>`
    // console.log(typeof(Number(sellerId)));

    imageInput.addEventListener('change', checkImage);
    function checkImage(event) {
        const fileSize = this.files[0].size;
        // const fileType=event.target.files[0].type.split('/')[1].toLowerCase(); // image/png
        const fileType = event.target.files[0].name.split('.').pop().toLowerCase();  // image/png

        console.log(fileType);
        const validImageTypes = ['jpeg', 'jpg', 'png']
        if (!validImageTypes.includes(fileType)) {
            event.preventDefault();
            imgErr.innerText = 'Invalid image type. Please choose a JPEG or PNG image.';
            return;
        } else {
            imgErr.innerText = "";
        }
        if (fileSize > 250 * 1024) {
            event.preventDefault();
            imgErr.innerText = 'Image size exceeds the allowed limit (250KB). Please choose a smaller image';
            return;
        }
        else
            imgErr.innerHTML = ''
    }


    function namechk() {
        if (names.value.length < 5 || names.value.trim() == '') {
            imgErr.innerHTML = 'Name of product must be 5 chracter long';
        }
        else
            imgErr.innerHTML = ''
    }

    function pricechk() {
        if (price.value < 5) {
            imgErr.innerHTML = 'Product price should be greater than 4';
        }
        else
            imgErr.innerHTML = ''
    }

    function descchk() {
        if (description.value.length < 10 || description.value.trim() == '') {
            imgErr.innerHTML = 'Product must be 10 chracter long';
        }
        else
            imgErr.innerHTML = ''
    }

    function quanchk() {
        if (quantity.value < 5) {
            imgErr.innerHTML = 'Product must be 5 minimum';
        }
        else
            imgErr.innerHTML = ''
    }

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formdata = new FormData(form);
        formdata.append('sellerId', sellerId);
        console.log(formdata);
        fetch(`/${role}/products`, {
            method: "POST",
            body: formdata
        })
            .then(res => res.json())
            .then(res => {
                alert(res.message);
            })
            .catch(err => {
                console.log(err);
            })
    });


</script>

</html>